{% schema %}
{
  "name": "Logo",
  "tag": "div",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Company Name"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:settings_schema.logo.name"
    }
  ],
  "presets": [
    {
      "name": "Logo"
    }
  ]
}
{% endschema %}

<div class="logo" {{ block.shopify_attributes }}>
  {% if block.settings.image != blank %}
    {{ block.settings.image | image_url: width: "100px" | image_tag:
      loading: 'lazy',
      alt: block.settings.title,
      class: 'logo__image'
    }}
  {% else %}
    <div class="logo__placeholder" style="width: 100px">
      {{ block.settings.title }}
    </div>
  {% endif %}
</div>

<style>
.logo__image {
  height: 4rem;
  object-fit: contain;
}

.logo__placeholder {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 4/1;
}
</style>
